@media (min-width:250px) {
    .register, .login{
        display:flex;
        align-items: center;
        flex-direction:column;
    }
    .register_form{
        width:95%;
        max-width: 400px;
        border: 1px solid lightgrey;
        border-radius:4px;
        padding:20px 15px;
    }
    .register_form > button, .register_link{
        width:100%;
        outline: none;
        border: 1px solid #a88734;
        background-color:#f0c14b;
        border-radius:4px;
        padding:7px;
        cursor: pointer;
    }
    .register_link{
        display: block;
        background-color:lightgrey;
        border-color: gray;
        font-size:15px;
        margin-top: 20px;
        text-align: center;
    }
}