@media (min-width:250px) {
    .item_container{
        display:flex;
        margin-top:20px;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        padding:20px 10px;
    }
    .item_image{
        width:50px;
        height: 50px;
        position: relative;
    }
    .item_info{
        flex: 0.8;
        margin:10px;
    }
    .item_price{
        flex:0.2;
        text-align:end;
    }
    .item_subtotal{
        text-align:end;
        margin-top: 10px;
    }
    .item_actions{
        display:flex;
        align-items:center;
        margin-top: 10px;
    }
    .item_actions > input{
        width:50px;
    }
    .item_actions > p{
        margin-left: 10px;
        font-weight: bold;
        color:#0066C0;
        cursor:pointer;
    }
}
@media (min-width:700px){
    .item_image{
        width:100px;
        height: 100px;
    }
}