@media (min-width:250px) {
    .basket{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .basket_items, .basket_subtotal{
        width:95%;
        margin: 10px;
        background-color:white;
        padding: 15px;
        border-radius:5px;
        flex:0.8;
    }
    .basket_subtotal{
        flex:0.2;
        height: 150px;
        min-width: 250px;
    }
}