@media (min-width:250px) {
    .basket{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .basket_items, .basket_subtotal{
        width:95%;
        margin: 10px;
        background-color:white;
        padding: 15px;
        border-radius:5px;
        flex:0.8;
    }
    .basket_subtotal{
        flex:0.2;
        height: 150px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .basket_subtotal > button{
        display:block;
        margin-top:20px;
        width: 100%;
        border-radius:20px;
        padding:5px;
        border: 1px solid #a88734;
        background-color:#f0c14b;
        cursor: pointer;
    }
}

@media (min-width:250px){
    .basket_subtotal{
        margin-top: 100px;
    }
}